<html>
    <head>
       
    </head>
    
    
    <body>
        <h1>Enter a New User</h1>
        <!-- form takes the info from the inputs and posts as body obj to the specified url -->
        <form method='POST' action='/api/addQuery'>
            <label>Enter Name</label>
            <input type='text' name='firstname' id="firstname">
            <label >Enter Last Name</label>
            <input type='text' name='lastname' id="lastname">

            <input type='submit' value = 'submit'>
        </form>
    </body>
</html>