body {
    margin: 0px
}
    
header {
    background: #03a9f4;
    text-align: center;
}

.logo {
    color: #fff;
    font-family: "Anton";
    
}

header input {
    font-size: 14px;
    margin: 0px;
}